@import 'reset';
@import 'normalize';

// -------------------------------
// Global Highlight Styles
// -------------------------------
::selection 	{ background: lighten($primary-color, 10%); color: white; } /* Safari */
::-moz-selection { background:lighten($primary-color, 10%);  color: white; } /* Firefox */

// -------------------------------
// Global Link Styles
// -------------------------------
a:link, a:visited, a:active{
	position: relative;
	text-decoration: none;
	color: white;
	@include transitionShort;
}
a:hover, a:focus{
	text-decoration: none;
}
