// Color Variables
$primary-color: #da9419; // orange
$secondary-color: #e26b73; // salmon

// Responsive Breakpoint Variables
$mobile: new-breakpoint(max-width 400px 4);
$tablet: new-breakpoint(max-width 700px 4);
